In [3]:
import pandas as pd

In [5]:
app_info = pd.read_csv("C:/Users/anura/OneDrive/Desktop/Play Market/Datasets/apps_info.csv")

In [13]:
app_info.head()

,Type,app_id,app_name,description,score,ratings_count,downloads,content_rating,section,categories
0,App,1,Western Union Send Money Now,Enjoy a $0 transfer fee* on your next online i...,4.6,317000,10000000,Everyone,Budgeting tools,Finance
1,App,2,"Priceline: Hotel, Flight & Car",Save on your next trip with exclusive deals on...,4.7,502000,10000000,Everyone,Business tools,Travel & Local
2,App,3,Slack,Slack brings team communication and collaborat...,3.4,134000,10000000,Everyone,Business tools,Business
3,App,4,MyWalmart,"Introducing MyWalmart, the one app designed fo...",4.7,211000,1000000,Everyone,Business tools,Business
4,App,5,Fidelity Investments,Invest at a firm invested in you. Fidelity’s s...,4.6,182000,5000000,Everyone,Business tools,Finance

In [7]:
df = pd.DataFrame(app_info)

In [9]:
df.head()

,app_id,app_name,description,score,ratings_count,downloads,content_rating,section,categories
0,1,Western Union Send Money Now,Enjoy a $0 transfer fee* on your next online i...,4.6,317000,10000000,Everyone,Budgeting tools,Finance
1,2,"Priceline: Hotel, Flight & Car",Save on your next trip with exclusive deals on...,4.7,502000,10000000,Everyone,Business tools,Travel & Local
2,3,Slack,Slack brings team communication and collaborat...,3.4,134000,10000000,Everyone,Business tools,Business
3,4,MyWalmart,"Introducing MyWalmart, the one app designed fo...",4.7,211000,1000000,Everyone,Business tools,Business
4,5,Fidelity Investments,Invest at a firm invested in you. Fidelity’s s...,4.6,182000,5000000,Everyone,Business tools,Finance

In [15]:
df[df.isnull() == True]

,app_id,app_name,description,score,ratings_count,downloads,content_rating,section,categories
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.dropna()

,app_id,app_name,description,score,ratings_count,downloads,content_rating,section,categories
0,1,Western Union Send Money Now,Enjoy a $0 transfer fee* on your next online i...,4.6,317000,10000000,Everyone,Budgeting tools,Finance
1,2,"Priceline: Hotel, Flight & Car",Save on your next trip with exclusive deals on...,4.7,502000,10000000,Everyone,Business tools,Travel & Local
2,3,Slack,Slack brings team communication and collaborat...,3.4,134000,10000000,Everyone,Business tools,Business
3,4,MyWalmart,"Introducing MyWalmart, the one app designed fo...",4.7,211000,1000000,Everyone,Business tools,Business
4,5,Fidelity Investments,Invest at a firm invested in you. Fidelity’s s...,4.6,182000,5000000,Everyone,Business tools,Finance
...,...,...,...,...,...,...,...,...,...
212,213,Target,Enjoy the easiest way to shop and save from an...,3.7,297000,10000000,Everyone,Popular apps,Shopping
213,214,TikTok Studio,Welcome to TikTok Studio - where innovation me...,4.7,201000,10000000,Teen,Share photos & videos,"#2 top free video players & editors, Video Pla..."
214,215,Okta Verify,Okta Verify is a lightweight app that allows y...,4.4,34900,10000000,Everyone,Tools & utilities,Productivity
215,216,Smart Home Manager,The AT&T Smart Home Manager app will guide you...,4.5,77700,5000000,Everyone,Tools & utilities,Productivity
216,217,Frontier Airlines,Book flights & check-in with the Frontier app ...,4.2,95300,5000000,Everyone,Travel & local,Travel & Local

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          217 non-null    int64
 1   app_name        217 non-null    string
 2   description     217 non-null    string
 3   score           217 non-null    float64
 4   ratings_count   217 non-null    int64
 5   downloads       217 non-null    int64
 6   content_rating  217 non-null    string
 7   section         217 non-null    string
 8   categories      217 non-null    string
dtypes: float64(1), int64(3), string(5)
memory usage: 15.4 KB

In [34]:
df['app_name'] = df['app_name'].astype('string')

In [36]:
df['description'] = df['description'].astype('string')

In [38]:
df['content_rating'] = df['content_rating'].astype('string')

In [40]:
df['section'] = df['section'].astype('string')

In [42]:
df['categories'] = df['categories'].astype('string')